<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<div class="main">
  <div class="links">
    <div class="link">
      {{#link-to 'index'}}
      Home
      {{/link-to}}
    </div>
    <div class="link">
      {{#link-to 'resume'}}
      Resume
      {{/link-to}}
    </div>
    <div class="link">
      {{#link-to 'portfolio'}}
      Portfolio
      {{/link-to}}
    </div>
  </div>
</div>



{{outlet}}
