{{outlet}}
<div class="parallax">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back parallax_section0">
      <section>
        <img src="jeffpic.png" alt="jeff prof" />
      </section>
    </div>
  </div>

  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--deep parallax_section3">
      <h1>Jeff Hostetler</h1>
      <div class= "section3-mid">
        <hr>
        <h2>
          Continue to my {{#link-to 'resume'}}Resume{{/link-to}} or {{#link-to 'portfolio'}}Portfolio{{/link-to}}
        </h2>
        <hr>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--back parallax_section2">
      <div class="index-content">
        <div class="section2-bottom">
          <div class="section2-icons">
            <a href="https://twitter.com/JeffHosBoss"><img src="twitter.png" alt="twitter icon" /></a>
            <a href="https://github.com/Jeff-Hostetler"><img src="github.png" alt="github icon" /></a>
            <a href="https://www.linkedin.com/in/hostetjm"><img src="linkedin.jpeg" alt="linkedin icon" /></a>
            <div class= "content-box">
              <h3>Jeff is a junior developer that specializes in Ruby on Rails and
              JavaScript. I have worked in the Ember.js framework and am comfortable
              working with HTML5 and CSS. As a <a href="http://www.galvanize.it/school/">gSchool</a>
              student, Jeff will be immersed in the development community for 6
              months of intense training. </h3>
              <hr>
              <h3>Jeff enjoys hacking on physical devices such as Arduino, electric
              imp, and tessel. His main project is an IoT app that is used to
              monitor solar panels. The project incorporates sensor data, weather API data,
              and realtime graphing allowing the user to monitor their panels. </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
