{{outlet}}
<div class="parallax">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back parallax_section0">
      <section>
        <img src="jeffpic.png" alt="" />
      </section>
      <h3>That's me ^^</h3>
    </div>

  </div>
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--deep parallax_section3">
      <h1>Jeff Hostetler</h1>
      <div class= "bottom">
        <hr>
        <h2>
          Continue to my resume
        </h2>
        <hr>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--back parallax_section2">
      <div class="container">
        <h1>Stuff</h1>


      </div>
    </div>
  </div>
</div>
